.home {
    background-color: rgb(7, 10, 34);
    color: white;
}
.main-landing{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    /* backdrop-filter: grayscale(20%); */
    /* the backdrop applies to the background of wtv part
    your working on, not to the elemtn itself  */
    background-image:url("https://images.unsplash.com/photo-1579364046732-c21c2177730d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80") ;
    background-position: center;
    object-fit: contain;
    /* background-repeat: no-repeat; */
}
.landing-text{
    box-shadow: 1px 1px 1px 1px white;
    border-radius: 8px;
    width: 50%;
    margin-left: 25%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: contrast(40%);
}

.btn-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn{
    padding: .75rem 1rem;
    background-color: rgb(0, 149, 255);
    border: none;
    width: 10rem;
    border-radius: 6px;
    margin: 1.5rem 0;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 1px #ffff;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover {
    background-color: rgb(0, 149, 255, .60);
}
.home-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.home-text{
    width: 40%;
}

