.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: .75px solid black;
    box-shadow: 2px 2px 4px 1px rgb(174, 171, 171);
    margin-bottom: .75rem;
}
.navbar > h4{
    margin-left: .75rem;
    color:#0096FF;
}
nav{
    width: 40%;
    display: flex;
    justify-content: space-around; 
    padding: 5px 0;
}