.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: .75px solid black;
    box-shadow: 2px 2px 4px 1px rgb(174, 171, 171);
    margin-bottom: .25rem;
    padding: .75rem 0;
}
.navbar > h3{
    margin-left: .75rem;
    color:#0096FF;
}
nav{
    width: 40%;
    display: flex;
    justify-content: space-around; 
    padding: 5px 0;
}
nav > a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: .35rem .75rem;
    border-radius: 10px;
    transition: .4s ease-in;
}

nav > a:hover {
    box-shadow: 8px 4px 6px rgba(72, 100, 242, 0.927), 0 1px 2px rgba(0, 0, 0, 0.742);
    background-color: #0096FF;
    font-weight: 700;
    color: white;
}

@media only screen and (max-width: 425px){

    nav {
        width: 75%;
    }
    .navbar >h3 {
        margin-left: 0;
    }
    .navbar {
        width: 100%;
        justify-content: space-around;

    }
    .navbar >h3 {
        margin-left: 0;
    }
    nav > a{
        padding: 5px 5px;
    }
}
