* {
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
  display: flex;
}
.x {
  height:2rem;
  width:2rem;
  cursor: pointer;
  transition: all ease-in-out .4s;
  color: white;
  border-radius: 5px;
}
.x:hover{
  color: red;
  transform: rotate(-90deg);
  background-color: white;
}

.sidebar{
  position: fixed;
  transition: transform ease-in .4s;
  transform: translateX(100%);
  background-color: rgb(7, 10, 34);
  width: 0;
}
.sidebar-open{
  position: relative;
  transform: translate(0);
  width: 40vw;
  padding: 0 .50rem;
  /* margin-right: .50rem; */
  /* box-shadow: 10px 10px 10px 10px black; */
} 

